@{
    ViewBag.Title = "Home Page";
}
<style>
    th {
        text-align: center;
        vertical-align: middle;
        height: 100%;
    }

    #bas {
        border: 1px solid groove;
        max-width: 100px;
        border-radius: 20px;
        width: 110px;
        position: relative;
        margin: auto;
    }

    a {
        text-align: center;
        vertical-align: middle;
        color: black;
        width: 100%;
    }
</style>
@*<br />
    <br />
    <br />
    <br />*@
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-2">
        <br />
        <a href="@Url.Action("GetLanguage", "Home", new { id = "Türkce" })">
            <img src="~/Flag/turkbayragi.jpg" id="turk" />
        </a>
        <a href="@Url.Action("GetLanguage", "Home", new { id = "İngilizce" })">
            <img src="~/Flag/ingiliz.jpg" id="ing" />
        </a>
    </div>
    <div class="col-md-1">
        <br />
        <a href="@Url.Action("List", "UserBasket")">
            <button class="btn btn-info" id="sepetim">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                @if (Session["languageName"] == null)
                {
                    <p>Sepetim</p>
                }
                else
                {
                    <p>@Session["languageName"]</p>
                }

            </button>
        </a>

        <br /><br />
    </div>
</div>
<table class="table table-bordered">
    <thead>
        @if (ViewBag.language != null)
        {
            <tr>
                <th scope="col">

                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Product Picture</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>Ürün Resmi</p>
                    }
                </th>
                <th scope="col">
                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Product Code</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>Ürün Kodu</p>
                    }
                </th>
                <th scope="col">
                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Quantity</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>Miktar</p>
                    }
                </th>
                <th scope="col">
                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Actions</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>Aksiyon</p>
                    }
                </th>

            </tr>
        }
        else
        {
            <tr>
                <th scope="col">
                    <p>Ürün Resmi</p>

                </th>
                <th scope="col">
                    <p>Ürün Kodu</p>
                </th>
                <th scope="col">
                    <p>Miktar</p>
                </th>
                <th scope="col">
                    <p>Aksiyon</p>
                </th>

            </tr>
        }
    </thead>
    <tbody>
        @foreach (var item in ViewBag.product)
        {
            <form action="UserBasket/Index" method="post">


                <tr height="120px">
                    <th scope="row" width="150px">
                        <div class="text-center">

                            <img src="@Url.Content(@item.ProductPicture)" height="80px" width="80px" />
                        </div>

                    </th>
                    <td>
                        @item.ProductCode <BR />
                        @item.ProductName


                    </td>
                    <td width="80px">
                        <div class="text-center">
                            <input type="text" name="Quantity" id="Quantity" class="input-sm" style="width: 50px;" style="vertical-align" />
                        </div>
                    </td>
                    <td>
                        <div class="text-md-center">
                            <div id="bas">
                                <div id="ic">
                                    @if (ViewBag.language == null)
                                    {
                                        <input type="hidden" name="ProductPicture" value="@item.ProductPicture" />
                                        <input type="hidden" name="ProductCode" value="@item.ProductCode" />
                                        <input type="hidden" name="ProductName" value="@item.ProductName" />
                                 
                                        <font size="4px"><span class="glyphicon glyphicon-shopping-cart"><input type="submit" value="Sepete At" /> </span> </font> <b></b>

                                        @*<a class="m-md-3"><font size="4px"><span class="glyphicon glyphicon-shopping-cart"></span> </font> <b>Sepete At</b></a>*@

                                    }
                                    else
                                    {
                                        <a class="m-md-3"><font size="4px"><span class="glyphicon glyphicon-shopping-cart"></span> </font> <b>@ViewBag.language.BasketAdd</b></a>
                                    }

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </form>
        }
    </tbody>
</table>

