
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th {
        text-align: center;
        vertical-align: middle;
        height: 100%;
    }

    #bas {
        border: 1px solid groove;
        max-width: 100px;
        border-radius: 20px;
        width: 110px;
        position: relative;
        margin: auto;
    }

    a {
        text-align: center;
        vertical-align: middle;
        color: black;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-2">
        <br />
        <a href="@Url.Action("GetLanguage", "UserBasket", new { id = "Türkce" })">
            <img src="~/Flag/turkbayragi.jpg" id="turk" />
        </a>
        <a href="@Url.Action("GetLanguage", "UserBasket", new { id = "İngilizce" })">
            <img src="~/Flag/ingiliz.jpg" id="ing" />
        </a>
    </div>
    <div class="col-md-1">
        <br />
        <a href="@Url.Action("List", "UserBasket")">
            <button class="btn btn-info" id="sepetim">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                @if (Session["languageNameMyBaket"] == null)
                {
                    <p>Sepetim</p>
                }
                else
                {
                    <p>@Session["languageNameMyBaket"]</p>
                }

            </button>
        </a>

    </div>
</div>
<br />
@if (Session["languageNameMyBaket"] == null)
{
    <h1 class="text-center">Sepetim</h1>
}
else
{
    <h1 class="text-center">@Session["languageNameMyBaket"]</h1>
}


<table class="table table-bordered">
    <thead>
        @if (ViewBag.language != null)
        {
            <tr>
                <th scope="col">

                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Product Picture</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>Ürün Resmi</p>
                    }
                </th>
                <th scope="col">
                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Product Code</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>Ürün Kodu</p>
                    }
                </th>
                <th scope="col">
                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Quantity</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>Miktar</p>
                    }
                </th>
                <th scope="col">
                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Actions</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>Aksiyon</p>
                    }
                </th>
                <th scope="col">
                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Cancel</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>İptal Et</p>
                    }
                </th>
                <th scope="col">
                    @if (ViewBag.language.Name == "İngilizce")
                    {
                        <p>Edit</p>
                    }
                    else if (ViewBag.language.Name == "Türkce")
                    {
                        <p>Düzenle</p>
                    }
                </th>

            </tr>
        }
        else
        {
            <tr>
                <th scope="col">
                    <p>Ürün Resmi</p>

                </th>
                <th scope="col">
                    <p>Ürün Kodu</p>
                </th>
                <th scope="col">
                    <p>Miktar</p>
                </th>
                <th scope="col">
                    <p>Aksiyon</p>
                </th>
                <th scope="col">
                    <p>İptal Et</p>
                </th>
                <th scope="col">
                    <p>Düzenle</p>
                </th>

            </tr>
        }
    </thead>
    <tbody>
        @foreach (var item in ViewBag.userbasket)
        {
            <form action="Edit" method="post">


                <tr height="120px">
                    <th scope="row" width="150px">
                        <div class="text-center">

                            <img src="@Url.Content(@item.ProductPicture)" height="80px" width="80px" />
                        </div>

                    </th>
                    <td>
                        @item.ProductCode <BR />
                        @item.ProductName


                    </td>

                    <td width="80px" id="Quantity">
                        <div class="text-center">
                            <input type="text" name="Quantity" value="@item.Quantity" class="input-sm" style="width: 50px;" style="vertical-align" />
                        </div>
                    </td>

                    <td>
                        <input type="hidden" name="Order" value="NotCompleted" />
                        <input type="hidden" name="userName" value="@Session["user"]" />
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="hidden" name="ProductPicture" value="@item.ProductPicture" />
                        <input type="hidden" name="ProductCode" value="@item.ProductCode" />
                        <input type="hidden" name="ProductName" value="@item.ProductName" />
                        <div class="text-md-center">
                            <div id="bas">
                                <div id="ic">
                                    @if (ViewBag.language == null)
                                    {


                                        <a href="@Url.Action("Order","UserBasket",new { id=item.Id})" class="m-md-3"><font size="2px"><span class="glyphicon glyphicon-shopping-cart"></span> </font> <b>Sipariş Et</b></a>


                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Order","UserBasket",new { id=item.Id})" class="m-md-3"><font size="2px"><span class="glyphicon glyphicon-shopping-cart"></span> </font> <b>@ViewBag.language.OrderCompleted</b></a>
                                        @*<font size="2px"><span class="glyphicon glyphicon-shopping-cart"><input id="spt" type="submit" value="@ViewBag.language.BasketAdd" /> </span> </font> <b></b>*@
                                        @*<a class="m-md-3"><font size="4px"><span class="glyphicon glyphicon-shopping-cart"></span> </font> <b></b></a>*@
                                    }


                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a href="Delete/@item.Id" class="btn btn-info btn-sm">İptal</a></td>
                    <td><button class="btn btn-primary">Düzenle</button></td>
                </tr>
            </form>
        }
    </tbody>
</table>
<p class="text-center">Toplam Ürün Miktarı @ViewBag.quantity</p>

